@font-face {
    font-family: "Hello";
    src: local("Hello"),
        url(./resources/fonts/Hello_Headline_W00_Regular.ttf) format("truetype");
}

p,
h1,
h2,
h3,
h4,
h5,
canvas {
    font-family: Hello, serif;
}
